dotenv==0.9.9
langchain-core==0.3.67
langchain-openai==0.3.27
langsmith==0.4.4
openai==1.93.0
python-dotenv==1.1.1
streamlit==1.46.1
uvicorn==0.35.0
fastapi
langserve
bs4
pykernel
pypdf
chromadb
faiss-cpu
lance

